#flipkart-navbar {
    background-color: #cc4646;
    color: #FFFFFF;
}

.row2 {
    padding-bottom: 20px;
    padding-top: 10px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #716f62;
    border: 1px solid #dcdbd1;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}
.largenav {
    font-size: 18px;
}
.token {
    width: 200px;
    display: inline;
    background: #c1bbbb;
    color: #191818;
    padding: 2px 5px 2px 5px;
    border-radius: 3px;
    margin-right: 4px;
}
.close-button {
    color: #cc4646;
}
.dropdown-menu {
    width: 100%;
    right: 0;
}
.smallsearch {
    margin-top: 6px;
    margin-left: 12px;
}
